extends layout

block content
  h1 JF Tools
  p
    a(href='/kc') Knowledge Check Generator
  p
    a(href='http://blob.jfbilodeau.com/team/KlaxGen.crx') Download KlaxGen extension for Microsoft Edge (Work in progress)
