extends layout

block content
  h1 J-F Tools
  p
    a(href='/kc') Knowledge Check Generator
  p
    a(href='https://jfbilodeau.blob.core.windows.net/team/KlaxGen.crx') Download KlaxGen extension for Microsoft Edge (Work in progress)
