extends layout

block content
  h1 Learnix tools
  p
    img(src='/images/learnix-logo-header.png' alt='Learnix logo')
  p
    a(href='/kc') Knowledge Check Generator
  p
    a(href='https://github.com/jfbilodeau/KlaxGen') Instructions to install KlaxGen extension for Microsoft Edge
  p
    a(href='/qr') QR Code Generator

  if auth.loggedIn
    p
      a(href='/delivery') Delivery