doctype html
html
  head
    title #{title} - Learnix
    link(rel='stylesheet', href='/stylesheets/style.css')

    block head
  body
    if auth.loggedIn
      p Hello, #{auth.username} | #[a(href=`/auth/logout?returnUrl=${encodedUrl}`) Log Out]
    else
      p
        a(href=`/auth/login?returnUrl=${encodedUrl}`) Log in

    block content
  p
    small
      a(href='/') Home