body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /*color: #00B7FF;*/
}

input[type="text"] {
  width: 40em;
}

.error {
  color: darkred;
}

details {
  border: darkgrey 1px solid;
}