body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /*color: #00B7FF;*/
}

input[type="text"], input[type="password"], input[type="search"] {
  width: 40em;
}

img.qr {
  display: block;
}

.error {
  color: darkred;
}

details {
  border: darkgrey 1px solid;
}