template ../layout

block head
  script(src='/js/qr/qr.js')

block content
  h1 Generate QR Code
  form(id="formQr")
    p
      span Text/URL:
      input(type="text" id="fieldText" size="100" placeholder="Text/URL" required)
    p
      button(type="button" id="commandGenerateQr") Generate QR Code

