doctype html
form
    input(type='hidden' name='code' value=code)
    p Course ID:&nbsp;
        input(name='courseId' placeholder='ex: az-204')
    p Locale:&nbsp;
        input(name='locale' value='en-us')
    p
        button(type='submit') Submit
small Please note: generating a document takes a few minutes. Please be patient.