block content
    h2 Generate knowledge check
    form(action='/kc/document')
        p Course ID:&nbsp;
            input(name='courseId' placeholder='ex: az-204')
        p Locale:&nbsp;
            input(name='locale' value='en-us')
        p
            input(name='raw' type='checkbox' id='fieldRaw')
            label(for='fieldRaw') Raw JSON
        p
            button(type='submit') Submit

    small Generating a document may takes a few minutes. Please be patient.